<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include other head elements -->
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <h1>OPS PAGE</h1>

    <button onclick="navigateTo('target_stoploss')">TARGET - STOPLOSS</button>
    <button onclick="navigateTo('net_pl')">Net P&L</button>
    <button style="background-color: #FF0000;" onclick="exit_all_positions()">EXIT ALL POSITIONS</button>
    <button onclick="navigateTo('../')">Home</button>


    <div id="flashcard-container"></div>

    <script>
        function navigateTo(page) {
            window.location.href = page;
        }
    </script>

    <script>
        function exit_all_positions() {
            // Vibrate for a short duration
            navigator.vibrate([1000]);

            // Make a simple request to trigger the server-side script
            fetch('/run_exit_all_positions')
                .catch(error => {
                    console.error('Error:', error);
                });

            
        }
    </script>

</body>

</html>